body,
html {
  background-color: #003a70;
}

header {
  top: 0;
  left: 0;
  height: 250px;
  width: 100%;
  padding: 30px 60px;
  background-color: #3d7dca;
}

#logo {
  width: 180px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 180px;
}

a {
  font-family: "Nunito", sans-serif;
  color: #ffcb05;
  font-size: 28pt;
  font-weight: bolder;
  margin: auto 60px;
}
a:hover {
  color: #003a70;
}

h1 {
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: 900;
  font-size: 22pt;
}
h2 {
  font-family: "Nunito", sans-serif;
  font-size: 20pt;
  color: white;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 15pt;
  color: white;
  margin: 30px auto 40px;
  text-align: left;
  font-weight: 600;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20pt;
  color: #ffcb05;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 13pt;
  color: white;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px auto 80px auto;
  align-items: center;
}

#weather {
  width: 300px;
}

#weatherBlock {
  text-align: center;
  width: 30%;
  border-radius: 10px;
  margin: 0 100px;
}

#stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#labels,
#values {
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: left;
  color: white;
}

#boostedBlock {
  /* background-image: linear-gradient(rgb(16, 27, 69), rgb(26, 41, 99)); */
  width: 700px;
  height: auto;
  border-width: 10px;
  border-style: outset;
  border-color: #094f90;
  /* border-color: #3d7dca; */
  margin-top: 70px;
  padding: 30px 30px 15px 30px;
  text-align: center;
}
.icons {
  width: 90px;
  margin: 15px 20px;
}

.typeDetail {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.typesLock {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.dropdown {
  margin: 0 65px;
}

.button {
  background-color: #003a70;
  color: #ffcb05;
  border-color: #094f90;
  width: 200px;
  padding: 30px;
}

.button:hover {
  color: #003a70;
  background-color: #ffcb05;
}

span {
  font-family: "Nunito", sans-serif;
  font-size: 18pt;
  font-weight: bold;
}

/* All cards */
main {
  margin: 20px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* card image background color */
.is-4by3 {
  background-color: #ffcb05;
}

.card {
  margin: 25px;
  box-shadow: 0 2px 2px rgb(38, 38, 39);
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 20px 10px rgb(15, 40, 89);
}

.media {
  align-items: center;
}

@media screen and (max-width: 1100px) {
  section {
    flex-direction: column;
  }

  a {
    font-size: 20pt;
    margin: auto 20px;
  }

  main {
    justify-content: center;
  }
}
