body,
html {
  background-color: #003a70;
}

header {
  height: 300px;
  width: 100%;
  padding: 20px 50px;
  background-color: #3d7dca;
}

#logo {
  width: 250px;
}

.image {
  background-color: #ffcb05;
}
